      <ol class="post-sidebar-menu">
        <li>This is a post title</li>    
        <li>This is a post title</li>   
        <li>This is a post title</li>   
        <li>This is a post title</li>   
        <li>This is a post title</li>   
        <li>This is a post title</li>   
      </ol>