<% provide(:button_text, 'Submit') %>
<%= render '/layouts/tabs/contactFBScript' %>
<%= render '/layouts/tabs/twitterScript' %>


<div class="content-Tabs" id="contactContent">
 <div class="aboutButton" id="aboutButton"><span class="contactButtonText">About Me</span></div>
    <div class="contactText" id="contactText">

      <div class="mainPhoto"><img id="mainPic" src=<%= asset_path 'images/contact/photographer.jpg' %> ></div>
        <div class="textBlock"><h1 class="photographerTitle">The photographer</h1>
          <p id="contactPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="contactButton" id="contactButton"><span class="contactButtonText">Contact Me</span></div>
       </div>
    </div>
  

    <div class="contactFormContainer" id="contactForm">
    
      <div class="contactForm" id="emailForm">    

        <div class="contactFormText top">Send me an email</div>

        <%= render 'layouts/tabs/contactForm' %>
        
        <div class="contactFormText bottom">Or, message me through:<br>

        <div class="contactImages"><img class="fbIcon" tabindex="0" id="fbMessageButton" src="images/external/fb-logo.png">
          
          <div class="socialMessageBox" id="fbMessageBox"><div class="closeButton" id="fbMessageBoxClose">x</div>
                <div class="fb-page" id="fb-iframe"
                  data-href="https://www.facebook.com/Slika-Photography-422953634737321/" 
                  data-tabs="messages" 
                  data-width="250" 
                  data-height="300" 
                  data-small-header="true">
                  <div class="fb-xfbml-parse-ignore">
                    <blockquote></blockquote>
                  </div>
              </div>
          </div><a href="https://twitter.com/intent/tweet?screen_name=e0plusdev_test" tabindex="0"><img class="twitterIcon-message" src="images/external/twitter-logo.png"></a>
        </div>

        </div>
          
      </div>   
  <!-- I don't really like that the fb message box and the twitter msg box are different, but twitter doesn't allow embedding the web intents target page, maybe I can iframe it if I remove the script?   -->
       
  </div> 
  
  
  </div>