
<%= render '/layouts/tabs/contactFBScript' %>

<div class="content-Tabs" id="contactContent">
 <div class="aboutButton" id="aboutButton"><span class="contactButtonText">About Me</span></div>
    <div class="contactText" id="contactText">

        <div class="leoPhoto"><img id="leoPic" src="https://static.wixstatic.com/media/be0972_3a91d40d363f4931a645b694c4f466c2.jpg/v1/fill/w_261,h_357,al_c,q_80,usm_0.66_1.00_0.01/be0972_3a91d40d363f4931a645b694c4f466c2.jpg"></div>
      <div class="textBlock"><h1 class="photographerTitle">The photographer</h1>
      <p id="contactPar">Born in Santiago, Chile, but raised in the city of Hamilton in the state of New Jersey, United States. Working full time as an accountant, but my real love lies with photography. I speak a fluent level of Spanish and a Native level of English so
        I am very confortable holding conversations in either language. Please don't hesitate to get in touch with me in case you run into any inquiries regarding my servicesr. My biggest aspiration is the complete satisfaction of my clients.
       </p>
       </div>
      </div>
  
 
    <div class="contactFormContainer" id="contactForm">
      
   <div class="contactButton" id="contactButton"><span class="contactButtonText">Contact Me</span></div>
   
   
    <form class="contactForm" id="emailForm">    

 <div class="contactFormText top">Send me an email</div>
    <input type="text" name="clientName"><br>
   <input type="email" name="clientEmail"><br> <!--la otra opcion es usar regex - 28/06/2016 al parecer usar regex es una lata http://stackoverflow.com/questions/46155/validate-email-address-in-javascript. Lo dejare asi y validare server side-->
 <input type="text" name="clientSubject"><br>
 <textarea name="clientMessage"></textarea><br>
  <input type="submit" name="submit" value="Submit">
<div class="contactFormText bottom">Or, message me through:<br>

<div class="contactImages"><img class="fbIcon" id="fbMessageButton" src="http://casamiasrestaurant.com/communities/7/000/001/042/387//images/3401337_30x30.jpg">
<div class="socialMessageBox" id="fbMessageBox"><div class="closeButton" id="fbMessageBoxClose">x</div><div class="fb-page" id="fb-iframe"
         data-href="https://www.facebook.com/LPAtestpage/" 
         data-tabs="messages" 
         data-width="400" 
         data-height="300" 
         data-small-header="true">
      <div class="fb-xfbml-parse-ignore">
        <blockquote></blockquote>
      </div>
    </div>
    </div><a href="https://twitter.com/intent/tweet?screen_name=e0plusdev_test"><img class="twitterIcon-message" src="https://g.twimg.com/dev/documentation/image/Twitter_logo_blue_32.png"></a>
    </div>
    </div>
     </form>   
  <!-- I don't really like that the fb message box and the twitter msg box are different, but twitter doesn't allow embedding the web intents target page, maybe I can iframe it if I remove the script?   -->
       
  </div> 
  
  
  </div>