  <div class="content-Tabs" id="homeContent">

    <h1 class="homeTabTitle">Lorem Ipsum</h1>
    
    <img class="home-main-img" src="/assets/home/gato.png">
    <div class="homeBody">
      <p class="home-main-par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu nulla vitae metus rhoncus ultricies quis nec felis. Duis -lectus turpis, auctor sed enim ac, blandit mollis justo. Nam quis nisi dapibus, vulputate lacus eleifend, maximus magna.
        Quisque et ullamcorper magna. In bibendum, elit at bibendum rutrum, erat nunc pulvinar nisl, vel elementum metus purus ac purus. Mauris gravida porta nibh non consectetur. Suspendisse ullamcorper enim eros, at fringilla nibh iaculis a. Nunc accumsan
        ex magna, id eleifend purus volutpat vel. Integer quam orci, tempus sit amet massa at, dictum pulvinar est. Nam volutpat massa eu auctor rutrum. Nunc vehicula et felis sit amet egestas. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Suspendisse tristique eu sem sit amet rutrum. Sed id eleifend augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus sit amet velit interdum tellus pellentesque efficitur.
        Fusce vitae magna massa. Proin tincidunt a eros et tempus. Vestibulum at elit ac risus volutpat pretium. Suspendisse ornare tincidunt augue in volutpat. Nullam elementum nisl lacus. Sed malesuada orci a nunc pulvinar laoreete
      </p>
    </div>
    
    <div class="smallThumbnails">
      <div class="smallThumbnailsContainer">
        
        <div class="smallThumbnailImgs" id="thumbnailPhoto1"><span>Expand</span></div>
        <div class="smallThumbnailImgs" id="thumbnailPhoto2"><span>Expand</span></div>
        <div class="smallThumbnailImgs" id="thumbnailPhoto3"><span>Expand</span></div> 
        <div class="smallThumbnailImgs" id="thumbnailPhoto4"><span>Expand</span></div> 
      </div>
    </div>
    
  <div class="bigThumbnails" id="bigThumbnails">
     <div class="bigThumbnailsContainer">
      <img class="bigThumbnailImgs" id="bigThumbnailPhoto1" src="/assets/home/people.jpg">
      <img class="bigThumbnailImgs" id="bigThumbnailPhoto2" src="/assets/home/models.jpg">
      <img class="bigThumbnailImgs" id="bigThumbnailPhoto3" src="/assets/home/urban.jpg">
      <img class="bigThumbnailImgs" id="bigThumbnailPhoto4" src="/assets/home/events.jpg">
    </div> 
  </div>
    
  </div>