

 
<div class="content-Tabs" id="peopleContent">

    <div class="peopleSlider">

    
  <%= render 'layouts/slidersContent' %>
  
  </div>
  
<%= render 'layouts/sliderButtons' %>

       <div class="slideCounter" id="peopleSlideCounter"> 
         <span class="sliderValue" id="peopleCounterValue">
           <input type="text" maxlength="2" class="slidePicker" id="peopleCounterCurrent" value="1"> of 
           <div class="counterTotal" id="peopleCounterTotal"></div>
         </span>
       </div> 
  
  </div>