  <div class="content-Tabs" id="urbanContent">
    
    <div class="urbanSlider">
      
<% @image_dir = 'urbanSlides' 
    @tab_value = 'urbanSlide' 
    %>
    
  <%= render 'layouts/slidersContent' %>
      
    </div>
    
<%= render 'layouts/sliderButtons' %>
  
       <div class="slideCounter" id="urbanSlideCounter"> 
         <span class="sliderValue" id="urbanCounterValue">
           <input type="text" maxlength="2" class="slidePicker" id="urbanCounterCurrent" value="1"> of 
           <div class="counterTotal" id="urbanCounterTotal"></div>
         </span>
       </div>   
  
  
  </div>