@keyframes flashDisappear {
  0% {
    opacity: 1;
    height: auto;
  }
  20% {
    opacity: 1;
    height: auto;
  }
  40% {
    opacity: 1;
    height: auto;
  }
  55% {
    opacity: 1;
    height: auto;
  }
  65% {
    opacity: 0.85;
    height: auto;
  }
  75% {
    opacity: 0.65;
    height: auto;
  }
  85% {
    opacity: 0.45;
    height: auto;
  }
  90% {
    opacity: 0.25;
    height: auto;
  }
  99% {
    opacity: 0;
    height: auto;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    position: absolute;
    top: 0;
  }
}
/* line 19, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
body {
  font-family: Calibri, Helvetica, Sans-serif;
  color: #293952;
  background-color: #e6e6e6;
  margin: auto;
  display: flex;
  justify-content: center;
  height: auto;
}

/* line 30, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
.message-box {
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
  justify-content: center;
}

/* line 40, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
.nav-menu {
  background-color: #293952;
  width: 100%;
}

/* line 45, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
.nav-menu a {
  text-decoration: none;
  color: white;
}

/* line 50, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

/* line 58, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
form label {
  margin: 5px auto 5px auto;
}

/* line 64, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
form input {
  margin: 5px;
}

/* line 69, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
.password-reset-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

/* line 76, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
.alert {
  height: auto;
  position: absolute;
  top: 0;
  text-align: center;
  background-color: #c8c8c8;
  color: #293952;
  border: 1px solid blue;
  justify-content: center;
  animation: flashDisappear 6s forwards;
}

/* line 91, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
.alert-danger {
  background-color: #E3623B;
  color: white;
}

/* line 99, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
.field_with_errors {
  background-color: #c82d28;
  display: inherit;
  color: white;
  text-align: inherit;
}

@media screen and (max-width: 480px) {
  /* line 109, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .profile-main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* line 117, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .profile-main a {
    text-decoration: none;
  }

  /* line 121, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .profile-main hr {
    width: 100%;
    color: #293952;
    height: 2px;
  }

  /* line 128, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .nav-menu {
    position: relative;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  /* line 137, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .nav-menu > a {
    padding: 20px 5px 20px 5px;
    text-align: center;
    margin: 0;
    border: 1px solid white;
    width: 25%;
  }

  /* line 145, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-name-container {
    font-size: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* line 155, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-name-container .user-name-text {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  /* line 160, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-name-container a {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 166, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard {
    /*not necessary in this media query*/
  }

  /* line 170, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .own-posts-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  /* line 178, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-posts-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
  }

  /* line 184, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .own-post-link {
    width: auto;
    display: flex;
    justify-content: center;
    margin: 10px auto 10px auto;
  }

  /* line 192, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .modify-post-links {
    display: flex;
    width: auto;
    justify-content: center;
    margin: auto auto 10px auto;
  }

  /* line 199, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .others-posts-dashboard {
    display: flex;
    flex-direction: column;
  }

  /* line 204, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .other-posts-user-name {
    display: flex;
    justify-content: center;
    margin: 5px auto 5px auto;
  }

  /* line 210, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .other-posts-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  /* line 218, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .others-post-link {
    width: auto;
    display: flex;
    justify-content: center;
    margin: 10px auto 10px auto;
  }

  /* line 226, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-data-form-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }

  /* line 234, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .action-title {
    display: flex;
    text-align: justify;
    font-weight: bold;
    margin: auto;
  }

  /* line 241, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .action-description {
    display: flex;
    justify-content: center;
  }

  /* line 250, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-data-form > label {
    margin: 5px auto 5px auto;
  }

  /* line 254, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-data-form > input {
    margin: 5px;
  }

  /* line 259, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* line 265, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .index-user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
}
@media screen and (min-width: 481px) {
  /* line 280, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* line 286, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .profile-main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* line 294, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .profile-main hr {
    width: auto;
    margin: 0;
  }

  /* line 299, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .nav-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* line 308, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .nav-menu a {
    border: 1px solid white;
    width: 25%;
    text-align: center;
    padding: 10px;
    display: flex;
  }

  /* line 317, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-name-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  /* line 326, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-name-container .user-name-text {
    margin: 5px;
  }
  /* line 329, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-name-container .profile-edit {
    margin: 5px;
  }

  /* line 334, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard {
    display: flex;
    flex-direction: row;
  }

  /* line 341, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .own-posts-dashboard {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  /* line 347, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .user-posts-title {
    display: flex;
    justify-content: center;
    margin: 5px auto 5px auto;
  }
  /* line 353, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .own-posts-container {
    width: auto;
    margin: 0 10px 0 10px;
  }
  /* line 358, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .own-post-link {
    display: flex;
    justify-content: center;
    margin: 25px auto 5px auto;
  }
  /* line 364, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .modify-post-links {
    display: flex;
    justify-content: center;
    margin: 5px auto 25px auto;
  }
  /* line 370, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .others-posts-dashboard {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  /* line 377, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .other-posts-user-name {
    display: flex;
    justify-content: center;
    margin: 5px auto 5px auto;
  }
  /* line 383, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .other-posts-container {
    width: auto;
    margin: 0;
  }
  /* line 387, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .posts-dashboard .others-post-link {
    display: flex;
    justify-content: center;
  }

  /* line 393, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-data-form-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }

  /* line 402, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .action-title {
    display: flex;
    text-align: justify;
    font-weight: bold;
    margin: auto;
  }

  /* line 409, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .action-description {
    display: flex;
    justify-content: center;
  }

  /* line 415, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  /* line 422, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-data-form > label {
    /* margin:5px auto 5px auto;*/
  }

  /* line 426, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .user-data-form > input {
    /*margin: 5px;*/
  }

  /* line 430, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* line 436, /home/eugenio/workspace/rails-app/app/assets/stylesheets/admin.scss */
  .index-user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
}
