<% if !@post 
    @post = Post.last
    end %>
<div class="post" id="post-<%= @post.id %>">
    
    <div class="post-title"><%= sanitize @post.title, tags: %w(strong em a div p img) %></div>
    <span class="timestamp">Posted <%= time_ago_in_words(@post.created_at) %> ago</span>
    <div class="post-content"><%= sanitize @post.content, tags: %w(strong em div p img span), attributes: %w(style src Font-family font-weight) %></div>

    
</div>    