<div class="post" id="post-<%= post.id %>">
    
    <h3><%= post.title %></h3> 
    <div class="post-content"><%= post.content %></div>
    <span class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago</span>
</div>    