<div class="sitewrapper" id="sitewrapper">

<%= render 'layouts/header' %>

<div class="jumbotron" id="jumbotron"> <!-- jumbotron ID used for the moving the social media contact boxes"-->


  <!--this container is needed to set up the dark grey transparent bg when thumbnail photos are clicked and shown to size-->
<%= render "layouts/jumbotron" %>



</div>


<%= render 'layouts/bottomBar' %>



</div>