    $font-stack: Calibri, Helvetica, Sans-serif;
    $background-light-white: rgb(230,230,230);
    $dark-blue: rgb(41, 57, 82);

    @keyframes flashDisappear {
      0% {opacity: 1; height: auto;}
      20% {opacity: 1;height: auto;}
      40% {opacity: 1;height: auto;}
      55% {opacity: 1;height: auto;}
      65% {opacity: 0.85;height: auto;}
      75% {opacity: 0.65;height: auto;}
      85% {opacity: 0.45;height: auto;}
      90% {opacity: 0.25;height: auto;}
      99% {opacity: 0;height: auto;}
      100% {opacity: 0; display: none; height:0; position:absolute; top:0;}

    }

    body {
        font-family: $font-stack;
        color: rgb(41, 57, 82);
        background-color: $background-light-white;
        margin:auto;
        display:flex;
        justify-content: center;
        height:auto;

    }


    .nav-menu {
        background-color: $dark-blue;
    }

    .nav-menu a {
    	text-decoration: none;
    	color: white;
    }

    form {

      display:flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }

    form label {

  
      margin:5px auto 5px auto;
    }

    form input {

      margin: 5px;
    }

    .password-reset-container {
      display:flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
    }

    .alert {
      height: auto;
      position: absolute;
      top:0;
      text-align: center;
      background-color: rgb(200, 200, 200);
      color: #293952;
      border: 1px solid blue;
      justify-content: center;
      animation: flashDisappear 3s forwards;  
  


    }

    .alert-danger {
    background-color: #E3623B;
    color: white;



    }

    .field_with_errors{
      background-color: #c82d28;
      display:inherit;
      color:white;
      text-align: inherit;
    }


  @media screen and (max-width: 480px) {

    .profile-main {
        width: 100%;
        margin:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-main a {
    	text-decoration: none;
    }

    .profile-main hr {
    	width: 100%;
    	color: rgb(41, 57, 82);
    	height: 2px;
    }


    .nav-menu {
        position: relative;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
   
    }

    .nav-menu > a {
    	padding: 20px 5px 20px 5px;
    	text-align: center;
    	margin: 0;
    	border: 1px solid white;
    	width: 25%;	
    }
    
    .user-name-container {

    	font-size: 2em;
    	width:100%;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    }

    .user-name-container {
    	.user-name-text {
	    	margin-left:auto;
	    	margin-right:auto;
	    	position: relative; 	
    	}
    	a {
    		margin-left:auto;
	    	margin-right:auto;
    	}
    }

    .posts-dashboard {
    	/*not necessary in this media query*/
    }

    .own-posts-container {
    	width: 100%;
    	margin: auto;
    	display: flex;
    	flex-direction: column;
    	margin: auto;
    }

    .user-posts-title {
	    margin-left:auto;
	    margin-right:auto;
    	font-size: 1.2em;
    }

    .own-post-link{
    	width: auto;
    	display:flex;
    	justify-content: center;
    	margin: 10px auto 10px auto;

    }

    .modify-post-links {
    	display:flex;
    	width:auto;
    	justify-content: center;
    	margin: auto auto 10px auto;
    }

    .others-posts-dashboard {
    	display:flex;
    	flex-direction: column;
    }

	.other-posts-user-name {
	    display:flex;
	    justify-content: center;
	    margin: 5px auto 5px auto;
	}

    .other-posts-container {
   		width: 100%;
    	margin: auto;
    	display: flex;
    	flex-direction: column;
    	margin: auto;
    }

    .others-post-link {

    	width: auto;
    	display:flex;
    	justify-content: center;
    	margin: 10px auto 10px auto;
    }

    .user-data-form-container {
      display:flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;

    }

      .action-title {
        display:flex;
        text-align: justify;
        font-weight: bold;
        margin:auto;
      }

      .action-description {
        display:flex;
        justify-content: center;
      }

      .user-data-form {

      }

      .user-data-form > label {
        margin:5px auto 5px auto;
      }

      .user-data-form > input {
        margin: 5px;
      }


    .index-container {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }

    .index-user-container {
      display:flex;
      flex-direction: column;
      justify-content: center;
      margin:auto;

    }
    

    

  }

  @media screen and (min-width: 481px)  {

    .login-container {
      display:flex;
      justify-content: center;
      flex-direction: column;

    }
    .profile-main {
        width: 100%;
        margin:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-main hr {
    	width: auto;
    	margin:0;
    }

  	.nav-menu {

  		width: 100%;
  		display:flex;
  		flex-direction: row;
  		justify-content: center;

  	}

  	.nav-menu a {
  		border:1px solid white;
  		width: 25%;
  		text-align: center;
  		padding: 10px;
  		display:flex;
  	
  	}

  	.user-name-container {
  		width: 100%;
  		margin:auto;
  		display:flex;
  		justify-content: center;

  	}

  	.user-name-container {
  		.user-name-text {
  			margin: 5px;
  		}
  		.profile-edit {
  			margin:5px;
  		}
  	}

    .posts-dashboard {
    	display:flex;
    	flex-direction:row;

    }

    .posts-dashboard {
	    .own-posts-dashboard {
	    	display:flex;
	    	flex-direction: column;
	    	width:50%;
	    }

	    .user-posts-title {
	    	display:flex;
	    	justify-content: center;
	    	margin: 5px auto 5px auto;
	    }

	    .own-posts-container {
	    	width: auto;
	    	margin: 0 10px 0 10px;
	    }

	    .own-post-link {
	    	display:flex;
	    	justify-content: center;
	    	margin: 25px auto 5px auto;
	    }

	    .modify-post-links {
	    	display:flex;
	    	justify-content: center;
	    	margin: 5px auto 25px auto;
	    }

	    .others-posts-dashboard {
	    	display:flex;
	    	flex-direction: column;
	    	width:50%;

	    }

	    .other-posts-user-name {
	    	display:flex;
	    	justify-content: center;
	    	margin: 5px auto 5px auto;
	    }

	    .other-posts-container {
	    	width:auto;
	    	margin: 0;
	    }
	    .others-post-link {
	    	display:flex;
	    	justify-content: center;
	    }
    }
    
    .user-data-form-container {
      display:flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;

    }
 

      .action-title {
        display:flex;
        text-align: justify;
        font-weight: bold;
        margin:auto;
      }

      .action-description {
        display:flex;
        justify-content: center;

      }

      .user-data-form {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
      }

      .user-data-form > label {
       /* margin:5px auto 5px auto;*/
      }

      .user-data-form > input {
        /*margin: 5px;*/
      }
    
    .index-container {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }

    .index-user-container {
      display:flex;
      flex-direction: column;
      justify-content: center;
      margin:auto;

    }





  }
