

<div class="user-name-container">
    <div class="user-name-text"><%= @user.name %></div>
    <% if current_user.id == @user.id %>
        <%= link_to "Edit my profile data", edit_admin_user_path(current_user), method: "get", class:"profile-edit" %>
    <% end %>
</div>
