<hr class="bottomHr" id="bottomHr">

<div class="bottomBackground" id="bottomBackground">

  <div class="bottomBar" id="bottomBar">

    <div class="socialMedia">

      <a href="https://www.facebook.com/LeonardoAntonioPhotography" target="_blank"><%= image_tag("/images/external/fb-logo.png") %></a>

      <a href="http://www.instagram.com/thisisaplaceholder" target="_blank"><%= image_tag("/images/external/instagram-logo.png") %></a>

      <a href="http://www.twitter.com/thisisaplaceholder" target="_blank"><%= image_tag("/images/external/twitter-logo.png") %></a>
  
      <a href="http://www.eugenioLopez.cl" target ="_blank"><%= image_tag("/images/external/tube-logo-n.png") %></a>
    </div>

    <div class="madeBy">
      <label class="madeByTxt">Made in Valdivia, Chile in July 2016</label>
    </div>


  </div>
</div>