<div class="headerBackground" id="headerBackground">
  <div class="header" id="header">
    
      <ul class="companyName">
        <li id="leoName"><a href="#">Leonardo Antonio PhotoArt</a></li>
      </ul>
      <ul class="menu" id="menu">
        <li class="navMenu" id="homeTab"><span id="homeSpan">Home</span></li>
        <li class="navMenu" id="peopleTab"><span id="peopleSpan">People</span></li>
        <li class="navMenu" id="modelTab"><span id="modelSpan">People</span></li>
        <li class="navMenu" id="urbanTab"><span id="urbanSpan">Urban</span></li>
        <li class="navMenu" id="eventTab"><span id="eventSpan">Events</span></li>
        <li class="navMenu" id="contactTab"><span id="contactSpan">Contact Us</span></li>
        <li class="navMenu" id="blogTab"><span id="blogSpan">Blog</span></li>
      </ul>
    
  </div>
</div>

<hr class="topHr" id="topHr">