<div class="headerBackground" id="headerBackground">
  <div class="header" id="header">
    
      <ul class="companyName">
        <li id="leoName"><a href="#">Leonardo Antonio PhotoArt</a></li>
      </ul>
      <ul class="menu" id="menu">
        <li class="navMenu" id="homeTab"><a href="#">Home</a></li>
        <li class="navMenu" id="peopleTab"><a href="#">People</a></li>
        <li class="navMenu" id="modelTab"><a href="#">Modeling</a></li>
        <li class="navMenu" id="urbanTab"><a href="#">Urban</a></li>
        <li class="navMenu" id="eventTab"><a href="#">Events</a></li>
        <li class="navMenu" id="contactTab"><a href="#">Contact us</a></li>
        <li class="navMenu" id="blogTab"><a href="#">Blog</a></li>
      </ul>
    
  </div>
</div>

<hr class="topHr" id="topHr">