  <div class="slider-nav-prev">
      <div class="prevArrow" id="leftArrowCircle">
  <div class="prevArrowHead" id="leftArrowHead"></div>
      </div>
    </div>
    
    <div class="slider-nav-next">
      <div class="nextArrow" id="rightArrowCircle">
  <div class="nextArrowHead" id="rightArrowHead"></div>
      </div>
  </div>